:root {
  --dark: #0d0d0d;
  --dark-pow: #be967e;
  --light-pow: #d9c1ab;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  outline: none;
  color: inherit;
}
.notExist {
  text-align: center;
  margin-top: 50px;
}
